@use '../abstracts/colors';
@use '../abstracts/variables';

.info-box {
  margin: 50px 0;

  h2 {
    color: colors.$primary;
    margin-bottom: 40px;
  }

  .info-box__content {
    font-weight: variables.$regularTextWeight;
    font-size: 14px;
    line-height: 21px;
    color: colors.$secondary;
  }
}