@use '../abstracts/colors';

.feedback {
  li {
    margin-bottom: 40px;

    blockquote {
      .info {
        margin-bottom: 20px;
      }

      .feedback-reporter {
        display: flex;
        align-items: center;

        .feedback-reporter-photo {
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 50%;
          margin-right: 20px;
        }

        cite {
          font-style: italic;

          a {
            color: colors.$primary;
          }
        }
      }
    }
  }
}