@use '../abstracts/colors';

.navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 40px;

  .navigation-link__container {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    width: 250px;
    height: 60px;
  }

  .navigation-link {
    color: colors.$ternary;
    
    .navigation-link__icon {
      width: 14px;
      height: 14px;
    }

    .navigation-link__text {
      display: inline-block;
      margin-left: 20px;
    }
  }
}