@use '../abstracts/colors';

.panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: colors.$secondary;
  padding: 20px;
  width: 250px;
  height: 100%;

  .photo-box {
    position: sticky;
    top: 20px;
  }

  .navigation {
    position: sticky;
    top: 195px;
  }

  .button {
    position: sticky;
    top: 670px;
  }
}