@use '../abstracts/colors';
@use '../abstracts/variables';

.timeline {
  min-height: 30vh;
  max-height: 80vh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center; 

  .timeline-spinner {
    color: colors.$primary;
    animation: spin 1s linear infinite;
  }

  .timeline-error {
    color: red;
  }

  .timeline-list {
    position: relative;
    padding: 15px;

    &::before {
      background: colors.$primary;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10px;
      width: 4px;
      content: "";
      margin-left: 18px;
    }

    li {
      display: flex;
      align-items: flex-start;
      margin-bottom: 10px;

      .timeline-date {
        padding: 15px;
        background: colors.$white;
        position: relative;
        left: -15px;
      }

      .timeline-event{
        position: relative;
      }

      .timeline-event::after {
        content: "";
        position: absolute;
        top: 15px;
        left: -10px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid colors.$forth;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start rotation from 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* End rotation at 360 degrees */
  }
}