@use '../abstracts/colors';
@use '../abstracts/variables';

.home {
  height: 100vh;
  background-image: url('../../images/background.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: colors.$forth;
  
  .crop-photo {
    margin: auto auto 10px auto;
    width: 163px;
    height: 163px;
    overflow: hidden;
    border-radius: 50%;
    border-style: solid;
    border-color: colors.$forth;
    border-width: 1px;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .name-photo {
    font-size: 45px;
    font-weight: variables.$titleWeight;
    line-height: 54px;
  }

  .title-photo {
    margin: 10px auto 10px auto;
    font-size: 25px;
    font-weight: variables.$subtitleWeight;
    line-height: 30px;
  }

  .description-photo {
    font-size: 14px;
    font-weight: variables.$regularTextWeight;
    line-height: 21px;
  }

  .button {
    margin-top: 10px;
  }

  @media (min-width: 600px) {
    .photo-box {
      width: 500px;
    }
  }
}