@use '../abstracts/colors';
@use '../abstracts/variables';

.inner {
  display: grid;
  grid-template-columns: 250px 30px auto;
  justify-content: center;

  & > .button {
    position: sticky;
    top: 30px;
    width: 30px;
    height: 30px;
    padding: 0;
  }

  .panel {
    .photo-box {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
  
      .crop-photo {
        margin: auto;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        border-style: solid;
        border-color: colors.$forth;
        border-width: 1px;
      
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      
      .name-photo {
        color: colors.$forth;
        font-size: 16px;
        font-weight: variables.$titleWeight;
        line-height: 20px;
        text-align: center;
      }
    
      .title-photo {
        display: none;
      }
    
      .description-photo {
        display: none;
      }
    }
  
    .button {
      margin: 75px auto auto auto;
      width: 105px;
      height: 36px;
      padding: 10px 20px 10px 20px;
    }
  }
}

@media (max-width: 600px) {
  .inner {
    display: grid;
    grid-template-columns: 54px 30px auto;

    .panel {
      width: 54px;
      padding: 20px 7px;

      .photo-box {
        .crop-photo {
          width: 40px;
          height: 40px;
        }
  
        .name-photo {
          display: none;
        }
      }
      .navigation-link__container {
        justify-content: center;

        .navigation-link__text {
          display: none;
        }
      }

      .button {
        background-color: colors.$primary;
        width: 40px;
        height: 30px;
        padding: 5px;

        &:hover {
          background-color: colors.$forth;
          color: colors.$primary;
        }

        .button-text {
          display: none;
        }
      }
    }
  }
}